/*-----------------------------------------------------general---------------------------------------------------------*/
body{
    background-image: url(images/bg.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Pacifico', cursive;
}
.container{
    width: 1200px;
    margin: auto;
}
/*-----------------------------------------------------header---------------------------------------------------------*/
/*-----------------------------------------------------main---------------------------------------------------------*/
/*-----------------------------------------------------footer---------------------------------------------------------*/
/*-----------------------------------------------------adaptive---------------------------------------------------------*/
/*desktop*/
@media(min-width:1200px){
    
}
/*laptop*/
@media(min-width:992px){

}
/*tablet*/
@media(min-width:768px){
    
}
/*mobile*/
@media(max-width:667px){

}